:root {
	--primary: #9d2033;
}


* {
	margin: 0;
	padding: 0;
}
html {
	background: #121212;
	background-size: 100%;
	background-size: cover;
	height: 100%;
}
body {
	font-family: "Source Sans Pro", "Trebuchet MS", Tahoma, Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
}
@media (max-width: 999px) {
	.to-hide {
		 display: none;
	}
}
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	cursor: pointer;
}
.reference {
	position: fixed;
	left: 0px;
	bottom: 0px;
	background: #424242;
	width: 100%;
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	height: 20px;
	color: #fff;
	z-index: 10;
	box-shadow: 0px 0px 5px #000;
}
.reference a {
	color: #fff;
	text-decoration: none;
}
.reference a:hover {
	color: #ddd;
}
.navbar {
	position: fixed;
	left: 0px;
	top: 0px;
	background: #212121;
	width: 100%;
	font-size: 12px;
	line-height: 13px;
	text-align: right;
	height: 40px;
	color: #fff;
	padding: 0px 4px;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0px 0px 5px #000;
	z-index: 2;
}
.navbar a {
	color: #fff;
	text-decoration: none;
}
.navbar a:hover {
	color: #ddd;
	cursor: pointer;
}
.navelem_l {
	margin: 4px 0px 4px 6px;
	min-width: 10px;
	height: 20px;
	padding: 6px 4px 6px 25px;
	float: left;
	display: flex;
	align-items: center;
	text-align: left;
	background-color: #424242;
}
.navelem_r {
	margin: 4px 0px 4px 6px;
	min-width: 2%;
	max-width: 6%;
	height: 20px;
	padding: 6px 4px 6px 25px;
	float: right;
	display: flex;
	align-items: center;
	text-align: left;
}
.hstack {
	position:fixed;
	left: 0;
	top: 40px;
	height: calc(100% - 60px);
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}
.flist {
	background: #212121;
	font-size: 16px;
	font-weight:bold;
	overflow-x:hidden;
	overflow-y:auto;
	height: 100%;
	width: 8%;
	min-width: 60px;
	max-width: 200px;
	box-shadow: 0px 0px 5px #000;
	z-index: 2;
}
.flist a {
	color: #fff;
}
.flist a:hover {
	color: #fff;
	cursor: pointer;
}
.felem {
	box-sizing: border-box;
	width: 95%;
	min-height: 40px;
	float: left;
	padding: 12.5px 4px;
	overflow: hidden;
	word-break: break-word;
	position: relative;
	border-radius: 0px 25px 25px 0px;
	transition: all 0.5s ease;
}
.felem:hover {
	background-color: #333;
}
.felem > div {
	right: 20px !important;
}
.felem_s {
	box-sizing: border-box;
	width: 95%;
	min-height: 40px;
	float: left;
	padding: 12.5px 4px;
	background-color: var(--primary);
	overflow: hidden;
	color: #fff;
	word-break: break-word;
	position: relative;
	border-radius: 0px 25px 25px 0px;
}
.felem_s > div {
	right: 20px !important;
}
.mlist{
	background:#121212;
	font-size:14px;
	color:#fff;
	height: calc(100% - 25px);
	width: 20%;
	min-width: 200px;
	max-width: 400px;
}
.mlist a {
	color: #666;
}
.mlist a:hover {
	color: #000;
	cursor: pointer;
}
.melem {
	box-sizing: border-box;
	width: 85%;
	height: auto;
	padding: 5px 5px 5px 42px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background: #212121;
	color: #fff;
	border-radius: 0px 25px 25px 0px;
	box-shadow: 0px 0px 5px #000;
	transition: 0.5s all;
	margin-bottom: 10px;
}
.melem:hover {
	width: 95%;
	background: #424242;
}
.target.over {
	background: #a0d080;
	color: #000;
}
.target :not(a) {
	pointer-events: none;
}
.melem_s {
	box-sizing: border-box;
	width: 95%;
	height: auto;
	padding: 5px 5px 5px 42px;
	color: #fff;
	background: #424242;
	border-radius: 0px 25px 25px 0px;
	box-shadow: 0px 0px 5px #000;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mscrollbox {
	height: calc(100% - 40px);
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
.mtabs {
	height: 40px;
	width: 100%;
	padding: 10px 0px;
	background: transparent;
	display: flex;
	justify-content: space-evenly;
}
.mtabs > a {
	width: 40%;
}
[class^="mtab-"] {
	height: 40px;
	line-height: 40px;
 	text-align: center;
}
[class^="mtab-"] > * {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
[class^="mtab-"] * {
	max-width: 100%;
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.mtab-front {
	background-color: #424242;
	width: 40% !important;
	color: #fff;
	border-radius: 25px;
	border: 1px solid #424242;
}
.mtab-back {
	background-color: unset;
	color: #fff;
	width: 100% !important;
	border-radius: 25px;
	border: 1px solid var(--primary);
	transition: background-color 0.5s;
}
.mtab-back:hover {
	background-color: var(--primary);
	box-shadow: 0px 0px 10px #000;
}
.works {
	position: relative;
	box-sizing: border-box;
	flex-grow: 1;
	height: 100%;
	background:#121212;
	font-size:14px;
	color:#fff;
	z-index:-1;
}
.worksfull {
	padding:0px;
	overflow:hidden;
}
.worksadj {
	padding:16px;
	padding-left: 26px;
	overflow:auto;
}
.works a {
	color: #999;
}
.works a:hover {
	color: #eee;
	cursor: pointer;
}
.works h1 {
	font-size: 24px;
	font-weight: bold;
	margin: 16px 0px 16px 0px;
	position: unset;
}
.works h2 {
	font-size: 20px;
	font-weight: bold;
	margin: 16px 0px;
	position: unset;
}
.works h3 {
	font-size: 16px;
	font-weight: bold;
	margin: 16px 0px;
	position: unset;
}
.works p {
	margin: 16px 0px;
}
.works input[type=submit] {
	font-family: "Source Sans Pro", "Trebuchet MS", Tahoma, Helvetica, sans-serif;
	font-size: 16px;
	width: 100px;
	margin-left: 20px;
	padding: 4px;
	background: #212121;
	color: #fff;
	border: solid 1px #424242;
	cursor: pointer;
	border-radius: 4px;
}
.welem {
	width: 120px;
	height: 50px;
	float: left;
	margin: 12px;
	padding: 6px 6px 6px 80px;
	display: flex;
	align-items: center;
	text-align: left;
	overflow: hidden;
	font-size: 16px;
}
.welem_s {
	position: absolute;
	z-index: 10;
	max-width: 600px;
	height: auto;
	padding: 16px;
	font-size: 16px;
	line-height: 48px;
	border: none;
	border-radius: 8px;
	background-color: #424242;
	text-align: center;
	overflow: hidden;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 15px #000;
}
.welem_t {
	position: unset !important;
	width: 20px;
	height: 20px;
	margin-top: -12px;
	margin-left: calc(100% - 10px);
	padding: 0px;
	background: url(icn/del.png) center no-repeat;
	text-align: center;
	overflow: hidden;
}
.welem_s input, .welem_s button {
	background: #212121;
	border-radius: 25px !important;
	color: #fff;
	border: none;
	margin: 2px;
	box-sizing: border-box;
}
.welem_s input:hover {
	background: #212121 !important;
	border: 1px solid #616161 !important;
	color: #fff !important;
}
.welem_s input[type="text"]:focus {
	background: #212121 !important;
	color: #fff !important;
	border: 1px solid #999 !important;
	outline: unset !important;
}
.welem_s input[type="button"][disabled=""] {
	color: #777 !important;
	opacity: 0.7;
}
.welem_s input[type="button"][disabled=""]:hover {
	color: #777 !important;
	background: #212121 !important;
	border: 1px solid #424242 !important;
}
.welem_s select {
	background: linear-gradient(45deg, transparent 50%, black 50%), linear-gradient(135deg, black 50%, transparent 50%), linear-gradient(to right, #bbb, #bbb);
	background-position: calc(100% - 21px) calc(1em + 2px), calc(100% - 16px) calc(1em + 2px), 100% 0;
	background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
	background-repeat: no-repeat;
	box-sizing: border-box;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	font-size: 16px;
	width: 150px;
	padding: 6px;
	border: solid 1px #000;
	cursor: pointer;
	border-radius: 0px;
}
.welem_s textarea {
	font-family: "Trebuchet MS", Tahoma, Helvetica, sans-serif;
	font-size: 14px;
	width: 550px;
	height: 170px;
	padding: 4px;
	background: #424242;
	border: solid 1px #616161;
	resize: none;
	border-radius: 4px;
}
.welem_s tr {
	margin-bottom: 1em;
}
.welem_s td {
	padding: 5px;
}
.welem_s table {
	border-width: 0;
	text-align: left;
	line-height: 1.5em;
}
.xl {
	height: 236px;
}
.ytbcnt {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
.ytbvid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ggbbtn {
	font-family: "Source Sans Pro", "Trebuchet MS", Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	width: 70px;
	height: 40px;
	padding: 6px;
	background: #212121;
	color: #888;
	border: 1px solid rgba(255,255,255,0.12);
	cursor: pointer;
	margin: 0px 6px 0px 0px;
	text-align: center;
	border-radius: 25px;
	float: left;
	box-shadow: 0px 0px 5px #000;
}
.ggbbtn2 {
	font-family: "Source Sans Pro", "Trebuchet MS", Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	width: 70px;
	height: 40px;
	padding: 6px;
	background: #212121;
	color: #fff;
	border: 1px solid rgba(255,255,255,0.12);
	cursor: pointer;
	margin: 0px 6px 0px 0px;
	text-align: center;
	border-radius: 25px;
	float: left;
	box-shadow: 0px 0px 5px #000;
}
.lcanvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.pupil {
	width: 80px;
	height: 60px;
	float: left;
	margin: 6px;
	padding :6px 6px 6px 60px;
	background: url(icn/dummy64.png) left no-repeat;
	display: flex;
	align-items: center;
	text-align: left;
	overflow: hidden;
	font-size: 14px;
}
.active span{
	font-weight: bold;
}
.pupil :not(a) {
	pointer-events: none;
}
.pupil.over {
	background: url(icn/dummy_green64.png) left no-repeat;
}
.nopupil {
	width: 80px;
	height: 60px;
	float: left;
	margin: 6px;
	padding: 6px 6px 6px 60px;
	background: url(icn/dummy_no64.png) left no-repeat;
	display: flex;
	align-items: center;
	text-align: left;
	overflow: hidden;
	font-size: 14px;
}
.progress {
	width: 500px;
	height: 10px;
	background-color: #ddd;
	margin: 10px auto;
	border-radius: 8px;
}
.progressbar {
	width: 0%;
	height: 10px;
	background-color: #80c080;
}
.searchline {
	height: 30px;
	padding: 2px;
	background: #212121;
}
.searchline * {
	color: #fff !important;
}
.light {
	background: #fff;
}





/* Hinzugefügt für DarkMode */

/* Icon-Austausch */
.navelem_l[style*="background:url(icn/home.png)"] {
	background: url(https://i.ibb.co/c3J922Q/home.png) no-repeat left !important;
	background-size: 25px !important;
}
.navelem_l[style*="background:url(icn/copy.png)"] {
	background: url(https://i.ibb.co/f964MfW/copy.png) no-repeat left !important;
	background-size: 25px !important;
}
.navelem_l[style*="background:url(icn/move.png)"] {
	background: url(https://i.ibb.co/WVsXrh7/move.png) no-repeat left !important;
	background-size: 25px !important;
}
.navelem_l[style*="background:url(icn/add.png)"] {
	background: url(https://i.ibb.co/c2JgwbV/add.png) no-repeat left !important;
	background-size: 25px !important;
}
.navelem_l[style*="background:url(icn/edit.png)"] {
	background: url(https://i.ibb.co/Z86pvb6/edit.png) no-repeat left !important;
	background-size: 25px !important;
}
.navelem_l[style*="background:url(icn/reload.png)"] {
	background: url(https://i.ibb.co/QKDxsb1/reload.png) no-repeat left !important;
	background-size: 25px !important;
}
.navelem_l[style*="background:url(icn/down.png)"] {
	background: url(https://i.ibb.co/mSM5jnJ/down.png) no-repeat left !important;
	background-size: 25px !important;
}
.navelem_l[style*="background:url(icn/lock.png)"] {
	background: url(https://i.ibb.co/vZ838dr/lock.png) no-repeat left !important;
	background-size: 25px !important;
}
.navelem_l[style*="background:url(icn/unlock.png)"] {
	background: url(https://i.ibb.co/fqRbD4C/unlock.png) no-repeat left !important;
	background-size: 25px !important;
}
.navelem_l[style*="background:url(icn/task.png)"] {
	background: url(https://i.ibb.co/yNFV90p/task.png) no-repeat left !important;
	background-size: 25px !important;
}
.navelem_l[style*="background:url(icn/del.png)"] {
	background: url(https://i.ibb.co/xGQpvFR/del.png) no-repeat left !important;
	background-size: 25px !important;
}
.navelem_r[style*="background:url(icn/recycle.png)"] {
	background: url(https://i.ibb.co/PNbbbhz/recycle.png) no-repeat left !important;
	background-size: 25px !important;
}
.navelem_r[style*="background:url(icn/search.png)"] {
	background: url(https://i.ibb.co/yYtXWP5/search.png) no-repeat left !important;
	background-size: 25px !important;
}
.melem[style*='background-image: url("icn/lnk.png")'], .melem_s[style*='background-image: url("icn/lnk.png")'] {
	background-image: url(https://i.ibb.co/sq7JZMK/ink.png) !important;
	background-position: 0px center !important;
	background-size: contain !important;
}
.melem[style*='background-image: url("icn/docx.png")'], .melem_s[style*='background-image: url("icn/docx.png")'] {
	background-image: url(https://i.ibb.co/SRPF8Rv/docx.png) !important;
	background-position: 0px center !important;
	background-size: contain !important;
}
/* Icon-Austausch Ende */


/* Tooltip Design */
.tooltip-anchor:hover [class^="tooltip"], .tooltip-anchor:hover [class^="popup"] {
	visibility: visible;
	opacity: 1;
}
.tooltip-anchor [class^="tooltip"], .tooltip-anchor [class^="popup"] {
	text-align: left;
	padding: 5px;
	border-radius: 6px;
	white-space: nowrap;
	box-shadow: 0px 0px 10px #000;
	position: fixed;
	z-index: 1000;
}
.tooltip-anchor [class^="tooltip"] {
	background-color: #212121;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
		visibility: visible;
	}
	90% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
.tooltip-anchor [class^="popup"] {
	background-color: rgb(224, 160, 160);
	color: #000;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s 0.5s;
	pointer-events: none;
	animation: 5s fadeOut backwards;
}
.tooltip-anchor hr {
	color: var(--primary);
}
/* Tooltip-Design Ende */


/* Datei-Editor Design */
.toolbar {
	position: relative;
	left: 0;
	right: 0;
	z-index: 9999;
	cursor: default;
	filter: invert(0.9);
}
#viewerContainer {
	background: #212121;
}
.pdfViewer .page {
	margin: 10px auto 10px auto;
	position: relative;
	overflow: visible;
	border: unset;
	background-clip: content-box;
	border-image: unset;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 20px #000;
}
/* Datei-Editor Design Ende */



option {
	background: #212121;
}
#iframe {
	width: 100% !important;
}
.cke_1 .cke_top, .cke_1 .cke_bottom {
	background: #212121;
}
.cke_wysiwyg_frame, .cke_wysiwyg_div {
	background-color: #212121;
	color: #fff;
}
.cke_editable {
	cursor: text;
	color: #fff !important;
}
.cke_inner {
	background: #212121;
}
img[src="edufile.php?typ=img&id=419570"] {
	filter: invert(1);
}
.dhx_spread_window {
	background-color: #616161 !important;
	border: 1px solid rgba(255,255,255,0.12) !important;
	box-shadow: 0px 0px 3px #000;
	border-radius: 4px;
}
.dhx_spread_modal {
	background: unset !important;
}
img[src*="icn/playpause200.png"] {
	filter: invert(1);
}
#waveform > wave:nth-child(2) > wave:nth-child(1) {
	filter: invert(0.3);
}
#applet_bttns {
	margin-bottom: 5px;
}
