:root {
	--primary: #9d2032;
	--message-left-background: #43A047;
	--message-right-lehrer-background: #01579B;
}


* {
	margin: 0;
	padding: 0;
}
html {
	background: #121212;
	height: 100%;
}
body {
	font-family: "Source Sans Pro", "Trebuchet MS", Tahoma, Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
}
ul.m_menu0 {
	list-style: none;
	position: relative;
	margin: 0px;
	width: 890px;
	float: left;
	clear: both;
	z-index: 0;
}
ul.m_menu0 > li {
	width: 110px;
	height: 101px;
	padding-bottom: 2px;
	float: left;
	position: relative;
	overflow: hidden;
	border-radius: 2px;
}
ul.m_menu0 > li > a {
	display: block;
	background-color: var(--primary);
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	width: 105px;
	height: 95px;
	padding: 10px;
	margin: 4px;
	transition: all 0.5s;
	border-radius: 4px;
	box-shadow: 0px 0px 5px #000;
	box-sizing: border-box;
	border: 1px solid #cc354c;
}
ul.m_menu0 > li > a:hover {
	background: #ebb5be;
	color: #121212;
	border: 1px solid #cd6f7e;
}
ul.m_menu0 > li > p {
	display: block;
	background: none;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	width: 90px;
	height: 80px;
	padding: 10px;
	margin: 2px;
}
ul.m_menu0 > li > a.disabled {
	opacity: 0.3;
}
ul.m_menu1 {
	list-style: none;
	position: relative;
	margin: 0px;
	width: 890px;
	float: left;
	clear: both;
	z-index: 0;
}
ul.m_menu1 > li {
	width: 110px;
	height: 101px;
	padding-bottom: 2px;
	float: left;
	position: relative;
	overflow: hidden;
}
ul.m_menu1 > li > a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	width: 105px;
	height: 95px;
	padding: 10px;
	margin: 4px;
	background-color: #424242;
	transition: all 0.5s;
	box-sizing: border-box;
	box-shadow: 0px 0px 5px 1px #000;
	border: 1px solid #616161;
	border-radius: 4px;
}
ul.m_menu1 > li > a:hover {
	background: #bdbdbd;
	color: #121212;
}
ul.m_menu1 > li > p {
	display: block;
	background: none;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	width: 90px;
	height: 80px;
	padding: 10px;
	margin: 2px;
}
@keyframes message {
	0% { background-color: #f0a0a0; }
	50% { background-color: #f0f0f0; }
	100% { background-color: #f0a0a0; }
}
ul.arrList {
	margin: 1em 0em 1em 0em;
	padding-left: 0.5em;
}
ul.arrList li {
	background: url('../icn/rarr.png') -0.3em -0.3em no-repeat;
	padding-left: 2em;
	padding-bottom: 1em;
	list-style: none;
}
ul.oe_menu {
	list-style: none;
	position: relative;
	margin: 30px 0px 0px 40px !important;
	width: auto;
	height: auto;
	float: left;
	clear: both;
	z-index: 10;
	display: flex;
	align-items: center;
}
ul.oe_menu > li {
	width: 112px;
	height: 101px;
	padding-bottom: 2px;
	float: left;
	position: relative;
}
ul.oe_menu > li > a {
	display: block;
	background-color: #424242;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	font-size: 16px;
	width: 105px;
	height: 95px;
	padding: 10px;
	margin: 4px;
	box-sizing: border-box;
	transition: background 1s, color 0.5s;
	box-shadow: 0px 0px 5px #000;
	border: 1px solid #616161;
}
ul.oe_menu > li > a:hover,
ul.oe_menu > li.selected > a {
	background: rgba(255,255,255,0.75);
	color: #121212;
}
.oe_wrapper ul.hovered > li > a {
	background: #212121;
	border: 1px solid rgba(255,255,255,0.5);
}
ul.oe_menu div {
	position: absolute;
	top: 53px;
	left: 1px;
	background: #212121;
	border: 1px solid rgba(255,255,255,0.5);
	width: max-content !important;
	min-height: 175px;
	padding: 20px;
	display: none;
	text-shadow: 1px 1px 1px #121212;
	border-radius: 4px;
}
ul.oe_menu div ul li a {
	text-decoration: none;
	color: #fff;
	padding: 2px;
	margin: 2px;
	display: block;
	transition: background 0.5s, color 0.5s;
	font-size: 14px;
	border-radius: 5px;
}
ul.oe_menu div ul.oe_full {
	width: 100%;
}
ul.oe_menu div ul li a:hover {
	background: #424242;
	color: #fff;
}
ul.oe_menu li ul {
	list-style: none;
	float: left;
	width: 150px;
	margin-right: 10px;
}
li.oe_heading {
	color: #fff;
	font-size: 16px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding-bottom: 6px;
	border-bottom: 1px solid #aaa;
}
ul.oe_sidebar {
	list-style: none;
	position: relative;
	margin: 0px 0px 0px 40px;
	width: 112px;
	float: left;
	clear: both;
	padding-bottom: 50px;
}
ul.oe_sidebar > li {
	width: 112px;
	height: auto;
	padding-bottom: 2px;
	float: left;
	position: relative;
}
ul.oe_sidebar > li > a {
	display: block;
	background-color: var(--primary);
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	width: 105px;
	height: auto;
	padding: 10px;
	margin-left: 4px !important;
	margin-top: 4px !important;
	box-sizing: border-box;
	box-shadow: 0px 0px 5px #000;
	border: 1px solid #cc354c;
	border-radius: 4px;
}
ul.oe_sidebar > li > a:hover,
ul.oe_sidebar > li.selected > a {
	background: #ebb5be;
	color: #121212;
	text-shadow: 1px 1px 1px #616161;
	border: 1px solid #cd6f7e;
}
ul.oe_sidebar div {
	position: absolute;
	top: 1px;
	left: 113px;
	background: #616161;
	border: 1px solid #757575;
	min-width: 292px;
	min-height: 180px;
	padding: 20px;
	display: none;
	z-index: 9;
	box-shadow: 0px 0px 5px #000;
	border-radius: 4px;
}
.bg_img img {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}
.menu_logo {
	font-size: 64px;
	text-align: right;
	position: absolute;
	left: 818px;
	top: 30px;
	height: 101px;
	width: 240px;
	font-weight: normal;
}
h1 {
	position: absolute;
	top: 150px;
	left: 170px;
	height: 32px;
	width: 890px;
	font-size: 28px !important;
	font-weight: lighter !important;
	background: none;
	border-bottom: 1px solid #999 !important;
}
h2 {
	font-size: 20px;
	font-weight: normal;
	border-bottom: 1px solid #aaa;
}
.content {
	font-size: 16px;
	text-align: left;
	position: absolute;
	left: 170px;
	top: 190px;
	width: 890px;
	height: auto;
	overflow: auto;
	background: transparent;
	font-weight: normal;
	padding-bottom: 40px;
}
a:link, a:visited {
	color: var(--primary);
	text-decoration: none;
	transition: color 0.5s;
}
a:hover, a:active {
	text-decoration: none;
	color: #ff3535;
}
tr.zeile_g {
	background-color: #616161;
	color: #fff;
	transition: all 0.5s;
}
tr.zeile_g a {
	color: #fff;
}
tr.zeile_u {
	transition: background 1s;
}
tr.zeile_y {
	background-color: #f0e0d0;
}
tr.zeile_w {
	background-color: #ffffff;
}
tr.zeile_g:hover {
	background-color: #9E9E9E;
	color: #121212;
	text-shadow: none;
}
tr.zeile_u:hover {
	background-color: #424242;
}
tr.zeile_y:hover {
	background-color: #ffd080;
}
tr.zeile_w:hover {
	background-color: #ffd080;
}
td {
	padding: 4px;
}
th {
	padding: 4px;
}
.boxed {
	border: 1px solid #a0a0a0;
	padding: 2px;
	border: 1px solid #a0a0a0;
	min-height: 20px;
	background-color: #fff;
	color: #000;
	font-size: 0.9em;
}
form * {
	font-family: "Source Sans Pro", "Trebuchet MS", Tahoma, Helvetica, sans-serif;
}
input, textarea, select, text, submit, button {
	font-family: "Source Sans Pro", "Trebuchet MS", Tahoma, Helvetica, sans-serif;
}
input[readonly="readonly"] {
	color: #808080;
	background-color: #e0e0e0;
}
input[disabled] {
	color: #000;
	background-color: #fff;
}
input, textarea, select {
	padding: 2px;
	border: 1px solid #616161 !important;
	background-color: #424242 !important;
	color: #fff;
	font-size: 0.9em;
	transition: background 0.5s, color 0.25s;
	border-radius: 4px;
}
input:focus, textarea:focus {
	background-color: #616161;
	border: 1px solid #424242;
	color: #121212;
}
button {
	border: 1px solid rgba(255,255,255,0.3);
	margin: 1px;
	font-family: "Source Sans Pro", "Trebuchet MS", Tahoma, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #2050b0;
	background: #424242;
	transition: background 0.5s, color 0.5s;
}
button:hover {
	border: 1px solid #ca231b;
	color: #ca231b;
}
.accordion {
	width: 100%;
	overflow: hidden;
	margin: 0px;
	color: #000;
	background: none;
	padding: 0px;
}
.accordion section {
	float: left;
	overflow: hidden;
	color: #fff;
	background: #d0d0d0;
	margin: 0px 0px 10px 0px;
	width: 100%;
	height: 44px;
	transition:height 0.2s ease-out;
}
.accordion section:hover {
	background: #e0e0e0 url('../icn/accdown.png') no-repeat right bottom;
}
.accordion section h2 a {
	padding: 10px !important;
	display: block;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
	background: #424242;
}
.accordion section p {
	display: none;
	padding: 10px 0px 0px 0px;
}
.accordion section:target {
	background: none;
	height: auto !important;
	overflow: hidden;
}
.accordion section:target > div {
	height: auto !important;
}
.accordion section:target:hover {
	background: none;
}
.accordion section:target h2 {
	width: 100%;
	border-bottom: unset;
}
.accordion section:target h2 a {
	color: #fff;
	padding: 0px;
}
.accordion section:target p {
	display: block;
}
.reference {
	position: fixed;
	left: 0px;
	bottom: 0px;
	background: #424242;
	width: 100%;
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	height: 20px;
	color: #fff;
	box-shadow: 0px 0px 10px #000;
}
a.selected {
	 background: unset;
	 color: #fff;
}
.reference a {
	color: #fff;
	text-decoration: none;
}
.reference a:hover {
	color: #ddd;
}
.progress {
	width: 400px;
	height: 10px;
	background-color: #ddd;
	margin: 10px auto;
}
.progressbar {
	width: 0%;
	height: 10px;
	background-color: #80c080;
}
td.plan {
	transition: background ease .1s;
	background: #363636 !important;
}




/* Hinzugefügt für DarkMode! */

.loginbox {
	background: transparent !important;
}
#bttSenden {
	color: #fff !important;
	border-radius: 4px;
}
#searchform {
	background: transparent !important;
	height: auto !important;
	width: auto !important;
	left: 550px;
	margin: auto !important;
	top: 20px;
	z-index: 0 !important;
}
[style="background:#eee; height:32px;"] {
	background: #212121 !important;
}
[style="background:#eee;"] {
	background: #616161 !important;
}
#charCounter {
	color: #fff !important;
}
table.stdplan-table th {
	background: #424242 !important;
}
table.stdplan-table td {
	color: #424242;
}
div.nzts {
	background: #424242 !important;
}
.vplan > tbody > tr:nth-child(1) {
	background: #616161;
}
#videochatForm > div:nth-child(3) > a:nth-child(7) > div:nth-child(1) {
	background: var(--primary) !important;
	border-radius: 2px !important;
	border: 1px solid #616161 !important;
	box-shadow: 0px 0px 5px #000;
}
.content > div:nth-child(1) > table:nth-child(4) > tbody:nth-child(1) > tr > td {
	background: #424242 !important;
	border: 1px solid #616161 !important;
	border-radius: 4px;
}
.content > div:nth-child(1) > table:nth-child(4) > tbody:nth-child(1) > tr > td > a {
	color: #fff;
}
/* Klausurenplan */
.daytable > tbody:nth-child(1) > tr:nth-child(1) > th {
	background: #616161;
	border-bottom: unset;
}
.daytable > tbody:nth-child(1) > tr > td {
	background: #424242;
	border-bottom: unset;
}
/* Klausurenplan Ende */
#months {
	background: #212121 none repeat scroll 0% 0% !important;
}
tr.zeile_u[style*="background:#ddd;"] {
	background: #424242 !important;
}
tr.zeile_u[style*="background:#bbb;"] {
	background: #424242 !important;
}
td[style*="background:#f0f040"] {
	background: #ffeb00 !important;
	color: #000;
}
div.content > a > div[style*="background:#eee"] {
	border-radius: 4px;
	background: #424242 !important;
	border: 1px solid #616161 !important;
	box-shadow: 0px 0px 5px #000;
	margin-left: 5px !important;
}
[src*="/img/logo_rama.png"] {
	filter: brightness(1.5);
}
.tagesbutton.selected {
	background: var(--primary);
	color: #fff;
	border-radius: 4px;
	border: 1px solid #cc354c;
}
.tagesbutton.selected:hover {
	border: 1px solid #cc354c;
}
.tagesbutton {
	background: none;
	color: #fff;
	border-radius: 4px;
}
div[style*="background:#eee"] {
	background: #424242 !important;
}
.markdown-highlighting {
	color: #fff !important;
	caret-color: #fff !important;
}
.editor {
	background: #424242 !important;
}
.preview, .preview__inner-1 {
	color: #000 !important;
}
#filter {
	background: #424242 !important;
	border-radius: 8px;
	box-shadow: 0px 0px 10px #000;
	height: auto !important;
	border: 1px solid #616161 !important;
}
.table tbody tr:nth-child(2n), .table th {
	background-color: #212121;
}
.table tbody tr:nth-child(2n+1) {
	background-color: #424242;
}
tr.green td {
	background: #09af00;
}
.table tbody tr:nth-child(2n+1):hover, .table tbody tr:nth-child(2n):hover, .table th:hover {
    background-color: #212121;
}
a[onclick="clearNames()"] > div {
	background: #424242 !important;
	border: 1px solid #616161;
	border-radius: 4px;
	transition: background 1s, color 0.5s;
}
a[onclick="clearNames()"] > div:hover {
	background: rgba(255,255,255,0.75) !important;
	color: #121212;
}

/* tokeninput style: Token vertical list */
ul.token-input-list {
	overflow: hidden; 
	height: auto !important; 
	height: 1%;
	width: 200px;
	border: 1px solid #858585
	cursor: text;
	font-size: 0.9em;
	font-family: Tahoma, Helvetica, sans-serif;
	z-index: 999;
	margin: 0;
	padding: 0;
	background-color: #424242;
	border-radius: 4px;
}
ul.token-input-list li {
	list-style-type: none;
}
ul.token-input-list li input {
	border: 0;
	width: 200px;
	padding: 3px 8px;
	background-color: #616161 !important;
	min-width: 30px;
	border-radius: 0px 4px 4px 0px;
}
ul.token-input-focused {
	border-radius: 4px 4px 0px 0px;
}
li.token-input-token {
	overflow: hidden;
	height: auto !important;
	height: 1%;
	margin: 3px;
	padding: 3px 5px;
	background-color: #BDBDBD;
	color: #000;
	cursor: default;
	display: block;
	border-radius: 4px;
}
li.token-input-token p {
	float: left;
	padding: 0;
	margin: 0;
}
li.token-input-token span {
	float: right;
	color: #000;
	cursor: pointer;
}
li.token-input-selected-token {
	background-color: #ffd080;
	color: #fff;
}
li.token-input-selected-token span {
	color: #fff;
}
div.token-input-dropdown {
	position: absolute;
	width: 200px;
	background-color: #424242;
	overflow: hidden;
	border: 1px solid #616161;
	border-top-color: rgb(97, 97, 97);
	border-top-style: solid;
	border-top-width: 1px;
	border-top: none;
	cursor: default;
	font-size: 0.9em;
	font-family: Tahoma, Helvetica, sans-serif;
	z-index: 1 !important;
	border-radius: 0px 0px 4px 4px;
}
div.token-input-dropdown p {
	margin: 0;
	padding: 5px;
	color: #fff !important;
	background-color: #424242 !important;
}
div.token-input-dropdown ul {
	margin: 0;
	padding: 0;
}
div.token-input-dropdown ul li {
	background-color: #424242;
	padding: 3px;
	list-style-type: none;
	transition: all 0.5s;
}
div.token-input-dropdown ul li.token-input-dropdown-item {
	background-color: #424242;
}
div.token-input-dropdown ul li.token-input-dropdown-item2 {
	background-color: #424242;
}
div.token-input-dropdown ul li em {
	font-style: normal;
}
div.token-input-dropdown ul li.token-input-selected-dropdown-item {
	background-color: #757575;
}
/* tokeninput style end */

span.version:before {
	content: "Portal ";
}
span.version:after {
	content: " | DarkMode v1.004";
}
#uplform {
	background-color: #212121 !important;
	border-radius: 4px;
	width: auto !important;
	border: 1px solid #616161;
	top: 30vh;
	left: 25vw;
	margin: unset !important;
	box-shadow: 0px 0px 10px #000;
}
form[action*="/videochat/beitretenIntern"] > button {
	background: rgba(255,255,255,0.2);
	border-radius: 15px;
	padding: 5px;
}





/* Neues Chat-Design */


.message-right {
	background-color: #424242 !important;
	color: #fff !important;
	border: unset !important;
	padding-left: 10px;
	border-radius: 15px 0px 0px 15px;
}
.speaker-right {
	background: #424242;
	color: #fff;
	padding-left: 10px;
	border-radius: 0px 15px 15px 0px;
}
.triangle-right {
	border-left: 20px solid #424242;
	margin-top: 15px;
}
.message-right.lehrer {
	background: var(--message-right-lehrer-background) !important;
	border: unset !important;
	color: #fff !important;
	border-radius: 0px;
}
.speaker-right.lehrer {
	background-color: var(--message-right-lehrer-background) !important;
	color: #fff !important;
}
.triangle-right.lehrer {
	border-left: 20px solid var(--message-right-lehrer-background) !important;
}
.triangle-left {
	border-right: 20px solid var(--message-left-background) !important;
	margin-top: 15px;
}
.speaker-left {
	background: var(--message-left-background) !important;
	color: #121212 !important;
	padding-left: 10px;
}
.message-left {
	background: var(--message-left-background) !important;
	border: unset !important;
	color: #000;
}
td.speaker-left:nth-child(2) {
	border-radius: 15px 0px 0px 0px;
}
td.speaker-left:nth-child(4) {
	border-radius: 0px 15px 0px 0px !important;
}
td.speaker-left:last-of-type {
	border-radius: 0px 0px 15px 15px !important;
}
td.speaker-right.lehrer:nth-child(2) {
	border-radius: 15px 0px 0px 0px;
}
td.speaker-right.lehrer:nth-child(4) {
	border-radius: 0px 15px 0px 0px;
}
td.speaker-right.lehrer:first-of-type {
	border-radius: 15px 0px 15px 0px !important;
}
td.speaker-right.lehrer:last-of-type {
	border-radius: 0px 0px 15px 15px !important;
}
.triangle-new {
	width: 0;
	height: 0;
	padding: 0;
	float: left;
	border-top: 10px solid transparent;
	border-right: 20px solid #757575;
	border-bottom: 10px solid transparent;
	margin-top: 15px;
	visibility: hidden;
}
.speaker-new {
	vertical-align: middle;
	text-align: center;
	background-color: #757575;
	font-size: 12px;
	color: #fff;
	padding: 4px;
}
.message-new {
	vertical-align: top;
	background-color: #757575;
	font-size: 16px;
	padding: 0px;
	border: 1px solid #757575;
}
.speaker-new:nth-child(2) {
	border-radius: 15px 0px 0px 15px;
}
.speaker-new:nth-child(4) {
	border-radius: 0px 15px 15px 0px;
}
img[src="edu/icn/reddotok.png"] {
	margin-top: 5px;
}
[name="msgtext"] {
	background: #757575 !important;
	color: #fff !important;
	border-radius: 0px;
	height: 67px !important;
	border: unset !important;
}
form[action*="action=addmsg"] > div.content > table > tbody > tr > .speaker-right {
	border-radius: 0px 15px 15px 0px !important;
}
form[action*="action=addmsg"] > div.content > table > tbody > tr > .message-right {
	border-radius: 15px 0px 0px 15px !important;
}
form[action*="action=adddirectmsg"] > div.content > div > table > tbody > tr > .speaker-right:nth-child(4) {
	border-radius: 0px 15px 0px 0px !important;
}
td.speaker-new:nth-child(2) > a > img {
visibility: hidden;
}
td.speaker-new:nth-child(2) {
background-image: url(https://i.ibb.co/G0khmNw/searchpng-com-sent-icon-png-image-free-download.png);
background-repeat: no-repeat;
background-size: 35px;
background-position: center 18px;
}
a[href*="chat.php?action=direkt&id="] {
    background-image: url(https://i.ibb.co/phq1GsN/reply-solid.png);
    background-size: contain;
    background-repeat: no-repeat;
}
a[href*="chat.php?action=direkt&id="] > img {
visibility: hidden;

/* Ende Chat-Design */
