:root {
	--primary-color: #9c2132;
	--primary-hover-color: #d2545b;
	--message-self-color: #43A047; /* Green 600 */
	--message-student-color: #424242;
	--message-teacher-color: #0277BD; /* Light Blue 900 */
	--chat-input-color: #484848;
	--success-color: #09af00;
	--transition-duration: 0.5s;
	--1dp-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.6);
	--1dp-shadow-hover: 2px 4px 8px hsl(0deg 0% 0% / 0.6);
	--2dp-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.5);
}


* {
	margin: 0;
	padding: 0;
}
html {
	background-size: cover !important;
	height: 100%;
}
body {
	font-family: "Source Sans Pro", "Trebuchet MS", Tahoma, Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
}
ul.m_menu0 {
	width: auto;
	float: left;
	clear: both;
	list-style: none;
}
ul.m_menu0 > li {
	width: auto;
	height: auto;
	float: left;
	overflow: visible;
}
ul.m_menu0 > li > a {
	box-sizing: border-box;
	display: block;
	height: 100px;
	width: 100px;
	margin: 4px;
	padding: 10px;
	font-size: 14px;
	background-color: var(--primary-color);
	color: #fff;
	text-decoration: none;
	transition: all var(--transition-duration);
	box-shadow: var(--1dp-shadow);
	border-radius: 8px;
}
ul.m_menu0 > li > a:hover {
	background: var(--primary-hover-color);
	box-shadow: var(--1dp-shadow-hover);
	color: #fff;
}
ul.m_menu0 > li > p {
	box-sizing: border-box;
	display: block;
	height: 100px;
	width: 100px;
	margin: 4px;
	padding: 10px;
	font-size: 14px;
	background-color: none;
	color: #fff;
	text-decoration: none;
}
ul.m_menu0 > li > a.disabled {
	opacity: 0.3;
}
ul.m_menu1 {
	width: auto;
	float: left;
	clear: both;
	list-style: none;
}
ul.m_menu1 > li {
	width: auto;
	height: auto;
	float: left;
	overflow: visible;
}
ul.m_menu1 > li > a {
	box-sizing: border-box;
	display: block;
	height: 100px;
	width: 100px;
	margin: 4px;
	padding: 10px;
	font-size: 14px;
	background-color: #2f2f2f;
	color: #fff;
	text-decoration: none;
	transition: all var(--transition-duration);
	box-shadow: var(--1dp-shadow);
	border-radius: 8px;
}
ul.m_menu1 > li > a:hover {
	background: #4e4e4e;
	box-shadow: var(--1dp-shadow-hover);
	color: #fff;
}
ul.m_menu1 > li > p {
	box-sizing: border-box;
	display: block;
	height: 100px;
	width: 100px;
	margin: 4px;
	padding: 10px;
	font-size: 14px;
	background-color: none;
	color: #fff;
	text-decoration: none;
}
ul.m_menu1 > li > a.disabled {
	opacity: 0.3;
}
@keyframes message {
	0% { background-color: #f0a0a0; }
	50% { background-color: #f0f0f0; }
	100% { background-color: #f0a0a0; }
}
ul.arrList {
	margin: 1em 0em 1em 0em;
	padding-left: 0.5em;
}
ul.arrList li {
	background: url('../icn/rarr.png') -0.3em -0.3em no-repeat;
	padding-left: 2em;
	padding-bottom: 1em;
	list-style: none;
}
ul.oe_menu {
	list-style: none;
	position: relative;
	margin: 30px 0px 0px 40px !important;
	width: auto;
	height: auto;
	float: left;
	clear: both;
	z-index: 10;
	display: flex;
	align-items: center;
}
ul.oe_menu > li {
	width: auto;
	height: auto;
	float: left;
	position: relative;
}
ul.oe_menu > li > a {
	box-sizing: border-box;
	display: block;
	background-color: #2f2f2f;
	color: #fff;
	text-decoration: none;
	border-radius: 8px;
	font-size: 14px;
	width: 100px;
	height: 100px;
	padding: 10px;
	margin: 4px;
	transition: background var(--transition-duration), color var(--transition-duration);
	box-shadow: var(--1dp-shadow);
}
ul.oe_menu > li > a:hover,
ul.oe_menu > li.selected > a {
	background: #4e4e4e;
	box-shadow: var(--1dp-shadow-hover);
	color: #fff;
}
.oe_wrapper ul.hovered > li > a {
	background: #212121;
	border: 1px solid rgba(255,255,255,0.25);
}
ul.oe_menu div {
	position: absolute;
	top: 55px;
	left: 4px;
	background: #212121;
	border: none;
	width: max-content !important;
	min-height: 175px;
	padding: 20px;
	display: none;
	text-shadow: 1px 1px 1px #121212;
	border-radius: 8px;
	box-shadow: var(--2dp-shadow);
}
ul.oe_menu div ul li a {
	text-decoration: none;
	color: #fff;
	padding: 2px;
	padding-left: 4px;
	margin: 2px;
	display: block;
	transition: background var(--transition-duration), color var(--transition-duration);
	font-size: 14px;
	border-radius: 5px;
}
ul.oe_menu div ul.oe_full {
	width: 100%;
}
ul.oe_menu div ul li a:hover {
	background: #424242;
	color: #fff;
}
ul.oe_menu li ul {
	list-style: none;
	float: left;
	width: 150px;
	margin-right: 10px;
}
li.oe_heading {
	color: #fff;
	font-size: 16px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding-bottom: 6px;
	border-bottom: 1px solid var(--primary-color);
}
ul.oe_sidebar {
	box-sizing: border-box;
	list-style: none;
	position: relative;
	margin: 0px 0px 0px 40px;
	width: 110px;
	float: left;
	clear: both;
	padding-bottom: 50px;
}
ul.oe_sidebar > li {
	box-sizing: border-box;
	width: auto;
	height: auto;
	float: left;
	position: relative;
}
ul.oe_sidebar > li > a {
	box-sizing: border-box;
	display: block;
	background-color: var(--primary-color);
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	width: 100px;
	height: auto;
	padding: 10px;
	margin: 4px !important;
	box-shadow: 0px 0px 5px #000;
	border-radius: 8px;
	transition: all var(--transition-duration);
}
ul.oe_sidebar > li > a:hover,
ul.oe_sidebar > li.selected > a {
	background: var(--primary-hover-color);
	color: #fff;
}
ul.oe_sidebar div {
	position: absolute;
	top: 4px;
	left: 113px;
	background: #212121;
	border: none;
	min-width: 292px;
	min-height: auto;
	padding: 20px;
	display: none;
	z-index: 9 !important;
	box-shadow: 0px 0px 10px #000;
	border-radius: 8px;
}
ul.oe_sidebar div tr:nth-child(2) td {
	background: #424242 !important;
	border-radius: 25px;
	padding: 5px;
}
ul.oe_sidebar div td {
	background: none !important;
}
ul.oe_sidebar div a {
	color: #fff;
}
.bg_img img {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}
.menu_logo {
	font-size: 64px;
	text-align: right;
	position: absolute;
	left: 818px;
	top: 30px;
	height: 101px;
	width: 240px;
	font-weight: normal;
}
h1 {
	position: absolute;
	top: 150px;
	left: 170px;
	height: 32px;
	width: auto;
	min-width: 890px;
	font-size: 28px;
	background: none;
	border-bottom: 1px solid #757575 !important;
}
h2 {
	font-size: 20px;
	font-weight: normal;
	border-bottom: 1px solid #aaa;
}
.content {
	font-size: 16px;
	text-align: left;
	position: absolute;
	left: 170px;
	top: 190px;
	width: 890px;
	height: auto;
	overflow: auto;
	background: transparent;
	font-weight: normal;
	padding-bottom: 40px;
}
.content[style*="margin-top: 0px;"] {
	margin-top: 10px !important;
}
a:link, a:visited {
	color: var(--primary-color);
	text-decoration: none;
	transition: color var(--transition-duration);
}
a:hover, a:active {
	text-decoration: none;
	color: var(--primary-hover-color);
}
tr.zeile_g {
	background-color: #2f2f2f !important;
	color: #fff;
}
tr.zeile_g:nth-child(1) {
	background-color: #424242;
}
tr.zeile_g a {
	color: #fff;
}
tr.zeile_u {
	background: #212121 !important;
	transition: background var(--transition-duration);
}
tr.zeile_u td {
	border: none !important;
	padding: 4px !important;
}
tr.zeile_u td[style*="background:#f0f040"] {
	background: var(--primary-hover-color) !important;
	border-radius: 8px;
}
tr.zeile_y {
	background-color: #f0e0d0;
}
tr.zeile_w {
	background-color: #ffffff;
}
tr.zeile_g:hover {
	background-color: none;
}
tr.zeile_u:hover {
	background-color: #424242;
}
tr.zeile_y:hover {
	background-color: #ffd080;
}
tr.zeile_w:hover {
	background-color: #ffd080;
}
tr {
	height: 10px;
}
td, th {
	padding: 4px;
}
.boxed {
	border: 1px solid #a0a0a0;
	padding: 2px;
	min-height: 20px;
	background-color: #fff;
	color: #000;
	font-size: 0.9em;
}
form * {
	font-family: "Source Sans Pro", "Trebuchet MS", Tahoma, Helvetica, sans-serif;
}
input, textarea, select, text, submit, button {
	font-family: "Source Sans Pro", "Trebuchet MS", Tahoma, Helvetica, sans-serif;
}
input[readonly="readonly"] {
	color: #808080;
	background-color: #e0e0e0;
}
input[disabled] {
	color: #000;
	background-color: #fff;
}
input, textarea, select {
	padding: 4px;
	border: 0px !important;
	background-color: #212121 !important;
	color: #fff !important;
	font-size: 0.9em;
	transition: background var(--transition-duration), color 0.25s;
	border-radius: 4px;
	box-shadow: 0px 0px 5px #000;
}
input:focus {
	outline: 2px solid #1565C0 !important;
}
button {
	border: none;
	border-radius: 25px;
	margin: 1px;
	padding: 5px;
	font-size: 0.9em;
	color: #fff;
	background: #424242;
	transition: background var(--transition-duration), color var(--transition-duration);
}
button:hover {
	border: none;
	color: #fff;
	background: #616161;
}
.accordion {
	width: 100%;
	overflow: hidden;
	margin: 0px;
	color: #000;
	background: none;
	padding: 0px;
}
.accordion section:target h2 a {
	display: none;
}
.accordion section h2 a.collapse {
	display: none;
}
.accordion section:target h2 a.collapse {
	display: block;
}
.accordion section h2 a.expand:hover {
	background: #424242 url('/icn/accdown.png') no-repeat right bottom;
}
.accordion section h2 a.collapse:hover {
	background: #424242 url('/icn/accup.png') no-repeat right bottom;
}
.accordion section {
	float: left;
	overflow: hidden;
	color: #000;
	margin: 0px 0px 10px 0px;
	width: 100%;
	height: 44px;
	transition: height 0.2s ease-out;
}
.accordion section h2 a {
	padding: 10px;
	display: block;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
	background: #2f2f2f url('/icn/accdown.png') no-repeat right bottom;
	border-radius: 8px;
	transition: background-color 1s;
}
.accordion section p {
	display: none;
	padding: 10px 0px 0px 0px;
}
.accordion section:target {
	height: 250px;
	overflow: hidden;
}
.accordion section:target:hover {
	background: none;
}
.accordion section:target h2 {
	width: 100%;
	border-bottom: 1px solid #aaa;
}
.accordion section:target p {
	display: block;
}
.reference {
	position: fixed;
	left: 0px;
	bottom: 0px;
	background: #424242;
	width: 100%;
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	height: 20px;
	color: #fff;
	z-index: 10001 !important;
	box-shadow: 0px 0px 0.6px rgba(0, 0, 0, 0.084), 0px 0px 1.3px rgba(0, 0, 0, 0.121), 0px 0px 2.5px rgba(0, 0, 0, 0.15), 0px 0px 4.5px rgba(0, 0, 0, 0.179), 0px 0px 8.4px rgba(0, 0, 0, 0.216), 0px 0px 20px rgba(0, 0, 0, 0.3) !important;
}
a.selected {
	background: unset;
	color: #fff;
}
.reference a {
	color: #fff;
	text-decoration: none;
}
.reference a:hover {
	color: #ddd;
}
.progress {
	width: 400px;
	height: 10px;
	background-color: #ddd;
	margin: 10px auto;
}
.progressbar {
	width: 0%;
	height: 10px;
	background-color: #80c080;
}
td.plan {
	transition: background ease .1s;
	background: #363636 !important;
}






/* Hinzugefügt für DarkMode: */

/* Videochat Design */
.targetGruppe {
	width: 115px;
	height: 40px;
	background: var(--primary-color);
	padding: 5px;
	margin: 2px;
	text-align: center;
	float: left;
	color: #fff !important;
	overflow: hidden;
	transition: all 1s !important;
	border-radius: 8px;
}
.targetGruppe:hover {
	background: var(--primary-hover-color);
}
.targetGruppe img {
	height: 16px;
}
.actions button {
	border-radius: 25px;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.16);
	border: none;
}
.actions button:hover {
	background-color: rgba(255, 255, 255, 0.24);
}
#videochat-uebersicht-table th {
	background-color: #424242;
}
#videochat-uebersicht-table td {
	background-color: #2f2f2f;
	opacity: 1;
}
#videochat-uebersicht-table tr.green td {
	background-color: #00C853 !important;
}



.error {
	display: block;
	padding: 1em;
	background: #9c2132 !important;
	margin-bottom: 1em;
	overflow: hidden;
	border-radius: 8px;
}
 .success {
	display: block;
	padding: 1em;
	background: var(--success-color) !important;
	margin-bottom: 1em;
	border-radius: 8px;
 }
.success button {
	width: auto;
	background-color: rgba(255,255,255,0.3);
}
.waiting-box {
	top: calc(50% - 160px);
	position: fixed;
	left: calc(50% - 220px);
	width: 400px;
	padding: 20px;
	background: #a0d8f0;
	z-index: 100;
}
.waiting-overlay {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
}
.waiting-overlay .center {
	width: 100%;
	text-align: center;
}
.waiting-overlay .start {
	font-size: 1.3em;
	line-height: 2em;
}
.waiting-overlay .name {
	font-weight: bold;
}
.waiting-overlay .warten {
	line-height: 2em;
	font-size: 1.5em;
}
/* Videochat Design Ende */


/* Klausurenplan Design */
.daytable th {
	background: #424242;
	border-bottom: unset;
}
.daytable td {
	background: #2f2f2f;
	border-bottom: unset;
}
/* Klausurenplan Design Ende */


/* Kalender Design */
#months {
	background: #212121 none repeat scroll 0% 0% !important;
	border-radius: 4px;
}
#months * {
	color: #ccc;
}
#months th a {
	color: var(--primary-color) !important;
}
td[style="background:#f0a0a0;"] {
	background: var(--primary-color) !important;
	border-radius: 8px;
	color: #fff !important;
}
#entries {
	background: #212121;
	border-radius: 4px;
}
#entry {
	position: absolute;
	background: #424242 !important;
	margin: 40px 0 0 180px;
	height: 720px;
	width: auto !important;
	z-index: 99;
	padding: 10px;
	border-radius: 8px;
	display: none;
	overflow-y: scroll;
	box-shadow: 0px 0px 10px #000;
}
#filter {
	margin: 0 !important;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	background: #424242 !important;
	border-radius: 8px;
	box-shadow: 0px 0px 10px #000;
	height: auto !important;
}
#filter input {
	background-color: rgba(255,255,255,0.12) !important;
	color: #fff !important;
	border: unset !important;
	border-radius: 25px !important;
	padding: 5px;
	box-shadow: 0px 0px 5px #333;
}
#filter input:hover {
	background-color: rgba(255,255,255,0.20) !important;
}
/* Kalender Design Ende */


/* Tokeninput Design */
ul.token-input-list {
	overflow: hidden;
	height: auto !important;
	height: 1%;
	width: 200px;
	border: 1px solid #858585;
	cursor: text;
	font-size: 0.9em;
	font-family: Tahoma, Helvetica, sans-serif;
	z-index: 999;
	background-color: #424242;
	border-radius: 4px;
}
ul.token-input-list li {
	list-style-type: none;
}
ul.token-input-list li input {
	border: 0;
	width: 200px;
	padding: 3px 8px;
	background-color: #616161 !important;
	min-width: 30px;
	border-radius: 0px 4px 4px 0px;
	color: #fff;
}
ul.token-input-focused {
	border-radius: 4px 4px 0px 0px;
}
li.token-input-token {
	overflow: hidden;
	height: auto !important;
	height: 1%;
	margin: 3px;
	padding: 3px 5px;
	background-color: #BDBDBD;
	color: #000;
	cursor: default;
	display: block;
	border-radius: 4px;
}
li.token-input-token p {
	float: left;
}
li.token-input-token span {
	float: right;
	color: #000;
	cursor: pointer;
}
li.token-input-selected-token {
	background-color: #ffd080;
	color: #fff;
}
li.token-input-selected-token span {
	color: #fff;
}
div.token-input-dropdown {
	position: absolute;
	width: 200px;
	background-color: #424242;
	overflow: hidden;
	border: 1px solid #616161;
	border-top: none;
	cursor: default;
	font-size: 0.9em;
	font-family: Tahoma, Helvetica, sans-serif;
	z-index: 1 !important;
	border-radius: 0px 0px 4px 4px;
}
div.token-input-dropdown p {
	margin: 0;
	padding: 5px;
	color: #fff !important;
	background-color: #424242 !important;
}
div.token-input-dropdown ul li {
	background-color: #424242;
	padding: 3px;
	list-style-type: none;
	transition: all 0.5s;
}
div.token-input-dropdown ul li.token-input-dropdown-item {
	background-color: #424242;
}
div.token-input-dropdown ul li.token-input-dropdown-item2 {
	background-color: #424242;
}
div.token-input-dropdown ul li em {
	font-style: normal;
}
div.token-input-dropdown ul li.token-input-selected-dropdown-item {
	background-color: #757575;
}
/* Tokeninput Design Ende */


/* Chat-Design */
.message-right {
	background-color: var(--message-student-color) !important;
	color: #fff !important;
	border: unset !important;
	padding-left: 10px;
	border-radius: 15px 0px 0px 15px;
}
form[action*="action=adddirectmsg"] td.message-right {
	border-radius: 0px !important;
}
form[action*="action=addmsg"] td.message-right {
	border-radius: 15px 0px 0px 15px !important;
}
/* Testen!
.content > table[style*="width:880px;"]:nth-child(2) > tbody > tr > td.message-right {
	border-radius: 0px;
}
*/
.speaker-right {
	background: var(--message-student-color);
	color: #fff;
	padding-left: 10px;
	border-radius: 0px 15px 15px 0px;
}
td.speaker-right.lehrer:nth-child(2) {
	border-radius: 15px 0px 0px 0px;
}
td.speaker-right.lehrer:first-of-type {
	border-radius: 15px 0px 15px 0px !important;
}
td.speaker-right.lehrer:last-of-type {
	border-radius: 0px 0px 15px 15px !important;
}
form[action*="action=addmsg"] td.speaker-right {
	border-radius: 0px 15px 15px 0px !important;
}
form[action*="action=adddirectmsg"] td.speaker-right:nth-child(2) {
	border-radius: 15px 0px 0px 0px !important;
}
form[action*="action=adddirectmsg"] td.speaker-right:nth-child(4) {
	border-radius: 0px 15px 0px 0px !important;
}
.content > table[style*="width:880px;"] > tbody > tr > td.speaker-right:nth-child(2) {
	border-radius: 15px 0px 0px 15px;
}
.content > table[style*="width:880px;"] > tbody > tr > td.speaker-right:nth-child(4) {
	border-radius: 0px 15px 15px 0px;
}
form[action*="action=adddirectmsg"] tbody[class*="msgbody"] > tr:nth-child(2) > td.speaker-right {
	border-radius: 0px 0px 15px 15px !important;
}
.triangle-right {
	border-left: 20px solid var(--message-student-color);
	margin-top: 15px;
}
.triangle-right.lehrer {
	border-left: 20px solid var(--message-teacher-color) !important;
	background-color: unset !important
}
.speaker-left {
	background: var(--message-self-color) !important;
	color: #000;
	padding-left: 10px;
}
td.speaker-left:nth-child(2) {
	border-radius: 15px 0px 0px 0px;
}
td.speaker-left:nth-child(4) {
	border-radius: 0px 15px 0px 0px !important;
}
td.speaker-left:last-of-type {
	border-radius: 0px 0px 15px 15px !important;
}
[name="msgform"] > .content > table > tbody > tr > td.speaker-left {
	border-radius: 15px 0px 0px 15px;
}
.message-left {
	background: var(--message-self-color) !important;
	border: unset;
	color: #000;
	border-radius: 0px 15px 15px 0px;
}
form[action*="action=adddirectmsg"] td.message-left {
	border-radius: 0px;
}
.triangle-left {
	border-right: 20px solid var(--message-self-color) !important;
	margin-top: 15px;
}
.triangle-new {
	visibility: hidden;
}
.speaker-new {
	vertical-align: middle;
	text-align: center;
	background-color: var(--chat-input-color);
	font-size: 0px;
	color: #fff;
	padding: 4px;
}
.speaker-new:nth-child(2) {
	border-radius: 15px 0px 0px 15px;
}
td.speaker-new:nth-child(2) > a {
	background-image: url(https://i.ibb.co/hCBq3by/send.png);
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: center;
	display: block;
	transition: transform ease 0.5s, filter ease 0.5s;
}
td.speaker-new:nth-child(2) > a:hover {
	transform: scale(1.5);
}
td.speaker-new:nth-child(2) > a > img {
	visibility: hidden;
}
.speaker-new:nth-child(4) {
	border-radius: 0px 15px 15px 0px;
}
td.speaker-new:nth-child(4) > a {
	background-image: url(https://i.ibb.co/2sPwFS9/upload.png);
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: center;
	display: block;
	transition: transform ease 0.5s;
}
td.speaker-new:nth-child(4) > a:hover {
	transform: scaleY(1.1) scale(1.1);
}
td.speaker-new:nth-child(4) > a > img {
	visibility: hidden;
}
.message-new {
	vertical-align: top;
	background-color: var(--chat-input-color);
	font-size: 16px;
	border: none;
}
img[src="edu/icn/reddotok.png"] {
	margin-top: 5px;
}
[name="msgtext"] {
	background: var(--chat-input-color) !important;
	color: #fff !important;
	border-radius: 0px;
	height: 67px !important;
	border: unset !important;
	outline: none !important;
	box-shadow: none;
}
#charCounter {
	color: #fff !important;
}
a[href*="chat.php?action=direkt&id="] {
	background-image: url(https://i.ibb.co/cv9zb4w/reply.png);
	background-size: contain;
	background-repeat: no-repeat;
	color: #000;
}
a[href*="chat.php?action=direkt&id="] > img {
	visibility: hidden;
}
a[onclick^="rmmsg("][onclick*="direkt"] {
	background-image: url(https://i.ibb.co/jZmGHQX/del-message.png);
	background-size: contain;
	background-repeat: no-repeat;
	color: #000;
}
a[onclick^="rmmsg("][onclick*="direkt"] > img {
	visibility: hidden;
}
#searchform {
	background: transparent !important;
	height: auto !important;
	width: auto !important;
	left: 500px;
	margin: auto !important;
	top: 25px;
	z-index: 0 !important;
}
#searchform col:nth-child(1) {
	width: 80px !important;
}
.lehrer {
	background: var(--message-teacher-color) !important;
}
.content > div:nth-child(1) table:nth-child(4) td {
	display: block;
	background-color: rgba(255,255,255,0.12) !important;
	border: unset;
	border-radius: 8px;
	transition: all 1s;
}
.content > div:nth-child(1) table:nth-child(4) td:hover {
	background-color: rgba(255,255,255,0.20) !important;
}
.chatgruppe {
	color: #fff !important;
}
/* Chat-Design Ende */


/* Umfragen-Design */
.actsel {
	background: #00C853;
	color: #000;
	font-weight: bold;
	border-radius: 4px;
}
.tosel {
	background: rgba(255,255,255,0.16);
	border-radius: 4px;
	color: #fff;
}
.que {
	width: auto;
	padding: 10px;
	background: #424242;
	border-radius: 4px;
}
.f5 div {
	border-radius: 0px 15px 15px 0px;
}
.f5 td:nth-child(2) {
	border-left: 1px solid #fff;
	padding-left: 0px;
	margin-left: 4px;
	display: block;
}
.f5 tr:nth-child(1) div {
	background: #00C853 !important;
}
.f5 tr:nth-child(2) div {
	background: #7CB342 !important;
}
.f5 tr:nth-child(3) div {
	background: #FFD600 !important;
}
.f5 tr:nth-child(4) div {
	background: #FF8F00 !important;
}
.f5 tr:nth-child(5) div {
	background: #D32F2F !important;
}
/* Umfragen-Design Ende */


/* Login-Design */
.loginbox {
	width: 300px !important;
	margin-left: 200px !important;
	background: none !important;
}
.loginbox input {
	border: none !important;
	border-bottom: 2px solid var(--primary-color) !important;
	border-radius: 0px;
	outline: none !important;
	width: 75%;
	padding: 8px 8px 8px 35px;
	color: #aaa !important;
	transition: color 0.5s;
	box-shadow: none;
}
.loginbox input:focus {
	color: #fff !important;
}
.loginbox button {
	color: #fff;
	width: 40%;
	background-color: #2f2f2f;
	border: unset;
	padding: 5px;
	cursor: pointer;
	margin: 12px 25%;
	border-radius: 25px;
	box-shadow: var(--1dp-shadow);
	transition: background var(--transition-duration);
}
.loginbox button:hover {
	background: #4e4e4e;
}
.loginbox label {
	display: none;
}
#username {
	background: url(https://i.ibb.co/BfwNM8m/user-solid.png) 5px center no-repeat !important;
	background-size: 18px !important;
}
#password {
	background: url(https://i.ibb.co/3fGLLQJ/lock-solid.png) 5px center no-repeat !important;
	background-size: 18px !important;
}
/* Login-Design Ende */


/* Speiseplan-Download Design */
a[onclick*="subm(\"dwnl\","] {
	color: #fff;
}
a[onclick*="subm(\"dwnl\","] div {
	background: #424242 !important;
	border: unset !important;
	box-shadow: 0px 0px 5px #000;
	border-radius: 25px;
	margin: 10px 10px 0px 0px;
	transition: background 0.5s;
}
a[onclick*="subm(\"dwnl\","] div:hover {
	background: #616161 !important;
	cursor: pointer;
}
/* Speiseplan-Download Design Ende */


/* Settings-Design */
#settings-link {
	font-weight: bold;
	cursor: pointer;
}
#dark-container {
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}
#settings {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	z-index: 10001;
	height: 50vh;
	background-color: #212121;
	border-radius: 8px;
	box-shadow: 0px 5px 10px #111;
	display: none;
	padding: 20px 50px;
	flex-direction: column;
	align-items: center;
	overflow: hidden auto;
}
#settings.open {
	display: flex;
}
#close-settings {
	position: absolute;
	right: 16px;
	top: 16px;
	color: #f00;
	font-size: 20px;
	cursor: pointer;
}
#close-settings svg {
	height: 40px;
	width: 40px;
	color: var(--primary-color);
}
#settings h4 {
	font-size: 22px;
	margin-bottom: 20px;
}
.Opt {
	width: max-content;
	margin: 13px 0px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}
.Opt span {
	line-height: 24px;
}
.Opt input {
	margin-right: 8px;
	padding: 0px;
	height: 24px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	width: 80px;
}
.Opt input[type="checkbox"] {
	height: 20px;
}
.Opt input[type="url"] {
	text-align: left;
	background-color: #424242 !important;
	box-sizing: border-box;
	padding: 0px 6px !important;
}
.Opt.primary input {
	border: 12px solid var(--primary-color) !important;
}
.Opt.hover input {
	border: 12px solid var(--primary-hover-color) !important;
}
.Opt.ownMessage input {
	border: 12px solid var(--message-self-color) !important;
}
.Opt.message input {
	border: 12px solid var(--message-student-color) !important;
}
.Opt.teacherMessage input {
	border: 12px solid var(--message-teacher-color) !important;
}
#reset {
	background-color: var(--primary-color) !important;
	width: 100px;
	border-radius: 25px;
	margin-top: 25px;

}
#reset:hover {
	background-color: var(--primary-hover-color) !important;
}
/* Settings-Design Ende */


.tagesbutton {
	background: rgba(255,255,255,0.08);
	color: #fff;
	border-radius: 25px;
	padding: 0px 5px;
	border: unset;
}
.tagesbutton:hover {
	border: unset;
	color: #fff;
	background: rgba(255,255,255,0.16);
}
.tagesbutton.selected {
	background: var(--primary-color);
	color: #fff;
}
.nzts {
	width: calc(100% - 8px) !important;
	margin: 0px 4px 1em 4px;
	background: var(--success-color) !important;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 8px;
}
div.nzts > p {
	margin-top: 10px;
}
div.nzts > p:first-child {
	margin-top: 0;
}
tr.relevant {
	background: #00C853;
}
tr.relevant:hover {
	background: #00C853;
}
#printdiv {
	display: none !important;
}
.version {
	float: left;
	margin-left: 10px;
	color: #ddd;
}
.version:before {
	content: "Portal ";
}
.version:after {
	content: " | DarkMode v1.9.1 | Icons by FontAwesome";
}
#uplform {
	background-color: #212121 !important;
	border-radius: 4px;
	width: auto !important;
	border: 1px solid #616161;
	top: 30vh;
	left: 25vw;
	margin: unset !important;
	box-shadow: 0px 0px 10px #000;
}
form[action*="/videochat/beitretenIntern"] > button {
	background: rgba(255,255,255,0.2);
	border-radius: 15px;
	padding: 5px;
}
table.stdplan-table th {
	background: #424242 !important;
}
table.stdplan-table td {
	color: #fff;
	background: #2f2f2f !important;
}
.vplan tr:nth-child(1) {
	background: #424242;
}
.markdown-highlighting {
	color: #fff !important;
	caret-color: #fff !important;
}
.editor {
	background: #424242 !important;
}
.preview, .preview__inner-1 {
	color: #000 !important;
}
.table tbody tr:nth-child(2n), .table th {
	background-color: #212121;
}
.table tbody tr:nth-child(2n+1) {
	background-color: #212121;
}
tr.green td {
	background: #09af00;
}
.table tbody tr:nth-child(2n+1):hover, .table tbody tr:nth-child(2n):hover, .table th:hover {
	background-color: #212121;
}
.zettel{
	color: black;
}
ol{
	color: white;
}

a[onclick="clearNames()"] > div {
	background: #424242 !important;
	border: 1px solid #616161;
	border-radius: 4px;
	transition: background 1s, color 0.5s;
}
a[onclick="clearNames()"] > div:hover {
	background: rgba(255,255,255,0.75) !important;
	color: #121212;
}
@keyframes fadeOut {
	0% {
		display: block;
		max-height: 5em;
		padding: 1em 1em;
	}
	80% {
		max-height: 5em;
		padding: 1em 1em;
	}
	100% {
		max-height: 0;
		padding: 0 1em;
		display: none;
	} 
}
