:root {
	--primary: #9d2032;
  --primary-hover: #ebb5be;
	--message-self-background: #43A047;
	--message-student-background: #424242;
	--message-teacher-background: #0277BD;
}


* {
	margin: 0;
	padding: 0;
}
html {
	background: #121212;
	height: 100%;
}
body {
	font-family: "Source Sans Pro", "Trebuchet MS", Tahoma, Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
}
ul.m_menu0 {
	width: auto;
	float: left;
	clear: both;
	list-style: none;
}
ul.m_menu0 > li {
	width: auto;
	height: auto;
	float: left;
	overflow: hidden;
}
ul.m_menu0 > li > a {
	box-sizing: border-box;
	display: block;
	height: 100px;
	width: 100px;
	margin: 4px;
	padding: 10px;
	font-size: 14px;
	background-color: var(--primary);
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	box-shadow: 0px 0px 5px #000;
	border-radius: 8px;
}
ul.m_menu0 > li > a:hover {
	background: #ebb5be;
	color: #000;
}
ul.m_menu0 > li > p {
	box-sizing: border-box;
	display: block;
	height: 100px;
	width: 100px;
	margin: 4px;
	padding: 10px;
	font-size: 14px;
	background-color: none;
	color: #fff;
	text-decoration: none;
}
ul.m_menu0 > li > a.disabled {
	opacity: 0.3;
}
ul.m_menu1 {
	width: auto;
	float: left;
	clear: both;
	list-style: none;
}
ul.m_menu1 > li {
	width: auto;
	height: auto;
	float: left;
	overflow: hidden;
}
ul.m_menu1 > li > a {
	box-sizing: border-box;
	display: block;
	height: 100px;
	width: 100px;
	margin: 4px;
	padding: 10px;
	font-size: 14px;
	background-color: rgba(255,255,255,0.12);
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	box-shadow: 0px 0px 5px #000;
	border-radius: 8px;
}
ul.m_menu1 > li > a:hover {
	background: rgba(255,255,255,0.25);
	color: #fff;
}
ul.m_menu1 > li > p {
	box-sizing: border-box;
	display: block;
	height: 100px;
	width: 100px;
	margin: 4px;
	padding: 10px;
	font-size: 14px;
	background-color: none;
	color: #fff;
	text-decoration: none;
}
ul.m_menu1 > li > a.disabled {
	opacity:0.3;
}
@keyframes message {
	0% { background-color: #f0a0a0; }
	50% { background-color: #f0f0f0; }
	100% { background-color: #f0a0a0; }
}
ul.arrList {
	margin: 1em 0em 1em 0em;
	padding-left: 0.5em;
}
ul.arrList li {
	background: url('../icn/rarr.png') -0.3em -0.3em no-repeat;
	padding-left: 2em;
	padding-bottom: 1em;
	list-style: none;
}
ul.oe_menu {
	list-style: none;
	position: relative;
	margin: 30px 0px 0px 40px !important;
	width: auto;
	height: auto;
	float: left;
	clear: both;
	z-index: 10;
	display: flex;
	align-items: center;
}
ul.oe_menu > li {
	width: auto;
	height: auto;
	float: left;
	position: relative;
}
ul.oe_menu > li > a {
	box-sizing: border-box;
	display: block;
	background-color: rgba(255,255,255,0.16);
	color: #fff;
	text-decoration: none;
	border-radius: 8px;
	font-size: 14px;
	width: 100px;
	height: 100px;
	padding: 10px;
	margin: 4px;
	transition: background 1s, color 0.5s;
	box-shadow: 0px 0px 5px #000;
}
ul.oe_menu > li > a:hover,
ul.oe_menu > li.selected > a {
	background: rgba(255,255,255,0.29);
	color: #fff;
}
.oe_wrapper ul.hovered > li > a {
	background: #212121;
	border: 1px solid rgba(255,255,255,0.25);
}
ul.oe_menu div {
	position: absolute;
	top: 55px;
	left: 4px;
	background: #212121;
	border: 1px solid rgba(255,255,255,0.3);
	width: max-content !important;
	min-height: 175px;
	padding: 20px;
	display: none;
	text-shadow: 1px 1px 1px #121212;
	border-radius: 8px;
	box-shadow: 2px 2px 2px #222;
}
ul.oe_menu div ul li a {
	text-decoration: none;
	color: #fff;
	padding: 2px;
	padding-left: 4px;
	margin: 2px;
	display: block;
	transition: background 0.5s, color 0.5s;
	font-size: 14px;
	border-radius: 5px;
}
ul.oe_menu div ul.oe_full {
	width: 100%;
}
ul.oe_menu div ul li a:hover {
	background: #424242;
	color: #fff;
}
ul.oe_menu li ul {
	list-style: none;
	float: left;
	width: 150px;
	margin-right: 10px;
}
li.oe_heading {
	color: #fff;
	font-size: 16px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding-bottom: 6px;
	border-bottom: 1px solid var(--primary);
}
ul.oe_sidebar {
	box-sizing: border-box;
	list-style: none;
	position: relative;
	margin: 0px 0px 0px 40px;
	width: 110px;
	float: left;
	clear: both;
	padding-bottom: 50px;
}
ul.oe_sidebar > li {
	box-sizing: border-box;
	width: auto;
	height: auto;
	float: left;
	position: relative;
}
ul.oe_sidebar > li > a {
	box-sizing: border-box;
	display: block;
	background-color: var(--primary);
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	width: 100px;
	height: auto;
	padding: 10px;
	margin: 4px !important;
	box-shadow: 0px 0px 5px #000;
	border-radius: 8px;
	transition: all 1s;
}
ul.oe_sidebar > li > a:hover,
ul.oe_sidebar > li.selected > a {
	background: #ebb5be;
	color: #121212;
	text-shadow: 1px 1px 1px #616161;
}
ul.oe_sidebar div {
	position: absolute;
	top: 1px;
	left: 113px;
	background: #424242;
	border: 1px solid #757575;
	min-width: 292px;
	min-height: 180px;
	padding: 20px;
	display: none;
	z-index: 9;
	box-shadow: 0px 0px 10px #000;
	border-radius: 8px;
}
ul.oe_sidebar div td {
	background: #616161 !important;
	border-radius: 4px;
}
ul.oe_sidebar div a {
	color: #fff;
}
.bg_img img {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}
.menu_logo {
	font-size: 64px;
	text-align: right;
	position: absolute;
	left: 818px;
	top: 30px;
	height: 101px;
	width: 240px;
	font-weight: normal;
}
h1 {
	position: absolute;
	top: 150px;
	left: 170px;
	height: 32px;
	width: 890px;
	font-size: 28px !important;
	font-weight: lighter !important;
	background: none;
	border-bottom: 1px solid #999 !important;
}
h2 {
	font-size: 20px;
	font-weight: normal;
	border-bottom: 1px solid #aaa;
}
.content {
	font-size: 16px;
	text-align: left;
	position: absolute;
	left: 170px;
	top: 190px;
	width: 890px;
	height: auto;
	overflow: auto;
	background: transparent;
	font-weight: normal;
	padding-bottom: 40px;
}
a:link, a:visited {
	color: #F44336;
	text-decoration: none;
	transition: color 0.5s;
}
a:hover, a:active {
	text-decoration: none;
	color: #C62828;
}
tr.zeile_g {
    background-color: #424242;
    color: #fff;
    transition: all 0.5s;
}
tr.zeile_g a {
	color: #fff;
}
tr.zeile_u {
  background: #212121 !important;
	transition: background 1s;
}
tr.zeile_y {
	background-color: #f0e0d0;
}
tr.zeile_w {
	background-color: #ffffff;
}
tr.zeile_g:hover {
    background-color: #616161;
    color: #fff;
    text-shadow: none;
}
tr.zeile_u:hover {
	background-color: #424242;
}
tr.zeile_y:hover {
	background-color: #ffd080;
}
tr.zeile_w:hover {
	background-color: #ffd080;
}
td {
	padding: 4px;
}
th {
	padding: 4px;
}
.boxed {
	border: 1px solid #a0a0a0;
	padding: 2px;
	border: 1px solid #a0a0a0;
	min-height: 20px;
	background-color: #fff;
	color: #000;
	font-size: 0.9em;
}
form * {
	font-family: "Source Sans Pro", "Trebuchet MS", Tahoma, Helvetica, sans-serif;
}
input, textarea, select, text, submit, button {
	font-family: "Source Sans Pro", "Trebuchet MS", Tahoma, Helvetica, sans-serif;
}
input[readonly="readonly"] {
	color: #808080;
	background-color: #e0e0e0;
}
input[disabled] {
	color: #000;
	background-color: #fff;
}
input, textarea, select {
	padding: 2px;
	border: 1px solid #616161 !important;
	background-color: #424242 !important;
	color: #fff;
	font-size: 0.9em;
	transition: background 0.5s, color 0.25s;
	border-radius: 4px;
}
input:focus, textarea:focus {
	background-color: #616161;
	border: 1px solid #424242;
	color: #121212;
}
button {
	border: 1px solid rgba(255,255,255,0.3);
	margin: 1px;
	font-family: "Source Sans Pro", "Trebuchet MS", Tahoma, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #2050b0;
	background: #424242;
	transition: background 0.5s, color 0.5s;
}
button:hover {
	border: 1px solid #ca231b;
	color: #ca231b;
}
.accordion {
	width: 100%;
	overflow: hidden;
	margin: 0px;
	color: #000;
	background: none;
	padding: 0px;
}
.accordion section:target h2 a {
  display:none;
}
.accordion section h2 a.collapse {
  display: none;
}
.accordion section:target h2 a.collapse {
  display: block;
}
.accordion section h2 a.expand:hover {
	background: #616161 url('/icn/accdown.png') no-repeat right bottom;
}
.accordion section h2 a.collapse:hover {
  background: #616161 url('/icn/accup.png') no-repeat right bottom;
}
.accordion section {
  float: left;
  overflow: hidden;
  color: #000;
  margin: 0px 0px 10px 0px;
  width: 100%;
  height: 44px;
  transition:height 0.2s ease-out;
}
.accordion section h2 a {
  padding:10px;
  display:block;
  font-weight:normal;
  color:#fff;
  text-decoration:none;
  background-color: rgba(255,255,255,0.12);
	border-radius: 8px;
	transition: background-color 1s;
}
.accordion section p {
  display: none;
  padding: 10px 0px 0px 0px;
}
.accordion section:target {
  height: 250px;
  overflow: hidden;
}
.accordion section:target:hover {
  background: none;
}
.accordion section:target h2 {
  width:100%;
  border-bottom:1px solid #aaa;
}
.accordion section:target p {
  display:block;
}
.reference {
	position: fixed;
	left: 0px;
	bottom: 0px;
	background: #424242;
	width: 100%;
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	height: 20px;
	color: #fff;
	box-shadow: 0px 0px 10px #000;
}
a.selected {
	 background: unset;
	 color: #fff;
}
.reference a {
	color: #fff;
	text-decoration: none;
}
.reference a:hover {
	color: #ddd;
}
.progress {
	width: 400px;
	height: 10px;
	background-color: #ddd;
	margin: 10px auto;
}
.progressbar {
	width: 0%;
	height: 10px;
	background-color: #80c080;
}
td.plan {
	transition: background ease .1s;
	background: #363636 !important;
}






/* Hinzugefügt für DarkMode! */

.tagesbutton {
  background: rgba(255,255,255,0.08);
  color: #fff;
  border-radius: 25px;
  padding: 0px 5px;
  border: unset;
}
.tagesbutton:hover {
	border: unset;
  color: #fff;
  background: rgba(255,255,255,0.16);
}
.tagesbutton.selected {
  background: var(--primary);
  color: #fff;
}
div.nzts {
  width: calc(100% - 8px);
  margin-left: 4px;
  background: #424242;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
div.nzts > p {
  margin-top: 10px;
}
div.nzts > p:first-child {
  margin-top: 0;
}
tr.relevant {
  background: #00C853;
}
tr.relevant:hover {
  background: #00C853;
}


/* Videochat Design */
.targetGruppe {
  width: 115px;
  height: 40px;
  background: var(--primary);
  padding: 5px;
  margin: 2px;
  text-align: center;
  float: left;
  color: #fff !important;
  overflow: hidden;
  transition: all 1s !important;
  border-radius: 8px;
}
.targetGruppe:hover {
  background: var(--primary-hover);
}
.targetGruppe img {
  height: 16px;
}
.actions button {
  border-radius: 25px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.16);
  border: none;
}
.actions button:hover {
  background-color: rgba(255, 255, 255, 0.24);
}
#videochat-uebersicht-table th {
	background-color: rgba(255,255,255,0.12);
}
#videochat-uebersicht-table tr.old td {
	background-color: #424242;
	opacity: 1;
}
#videochat-uebersicht-table tr.green td {
	background-color: #00C853 !important;
}
/* Videochat Design Ende */


/* Klausurenplan */
.daytable > tbody:nth-child(1) > tr:nth-child(1) > th {
	background: #616161;
	border-bottom: unset;
}
.daytable > tbody:nth-child(1) > tr > td {
	background: #424242;
	border-bottom: unset;
}
/* Klausurenplan Ende */


/* Kalender Design */
#months {
	background: rgba(255,255,255,0.08) none repeat scroll 0% 0% !important;
	box-shadow: 0px 0px 5px #000;
	border-radius: 4px;
}
#months * {
    color: #bbb;
}
td[style="background:#f0a0a0;"] {
    background: var(--primary) !important;
    border-radius: 8px;
    color: #fff !important;
}
#filter {
	margin: 0 !important;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	background: #424242 !important;
	border-radius: 8px;
	box-shadow: 0px 0px 10px #000;
	height: auto !important;
	border: 1px solid #616161 !important;
}
#filter input {
	background-color: rgba(255,255,255,0.12) !important;
	color: #fff !important;
	border: unset !important;
	border-radius: 25px !important;
	padding: 5px;
	box-shadow: 0px 0px 5px #333;
}
#filter input:hover {
	background-color: rgba(255,255,255,0.20) !important;
}
/* Kalender Design ende */


table.stdplan-table th {
	background: #424242 !important;
}
table.stdplan-table td {
	color: #fff;
	background: #212121 !important;
}

.vplan > tbody > tr:nth-child(1) {
	background: #616161;
}
.content > div:nth-child(1) > table:nth-child(4) > tbody:nth-child(1) > tr > td {
	background: #424242 !important;
	border: 1px solid #616161 !important;
	border-radius: 4px;
}
.content > div:nth-child(1) > table:nth-child(4) > tbody:nth-child(1) > tr > td > a {
	color: #fff;
}
div.content > a > div[style*="background:#eee"] {
	border-radius: 4px;
	background: #424242 !important;
	border: 1px solid #616161 !important;
	box-shadow: 0px 0px 5px #000;
	margin-left: 5px !important;
}
[src*="/img/logo_rama.png"] {
	filter: brightness(1.5);
}
.markdown-highlighting {
	color: #fff !important;
	caret-color: #fff !important;
}
.editor {
	background: #424242 !important;
}
.preview, .preview__inner-1 {
	color: #000 !important;
}
.table tbody tr:nth-child(2n), .table th {
	background-color: #212121;
}
.table tbody tr:nth-child(2n+1) {
	background-color: #212121;
}
tr.green td {
	background: #09af00;
}
.table tbody tr:nth-child(2n+1):hover, .table tbody tr:nth-child(2n):hover, .table th:hover {
    background-color: #212121;
}
a[onclick="clearNames()"] > div {
	background: #424242 !important;
	border: 1px solid #616161;
	border-radius: 4px;
	transition: background 1s, color 0.5s;
}
a[onclick="clearNames()"] > div:hover {
	background: rgba(255,255,255,0.75) !important;
	color: #121212;
}

/* tokeninput style: Token vertical list */
ul.token-input-list {
	overflow: hidden;
	height: auto !important;
	height: 1%;
	width: 200px;
	border: 1px solid #858585
	cursor: text;
	font-size: 0.9em;
	font-family: Tahoma, Helvetica, sans-serif;
	z-index: 999;
	margin: 0;
	padding: 0;
	background-color: #424242;
	border-radius: 4px;
}
ul.token-input-list li {
	list-style-type: none;
}
ul.token-input-list li input {
	border: 0;
	width: 200px;
	padding: 3px 8px;
	background-color: #616161 !important;
	min-width: 30px;
	border-radius: 0px 4px 4px 0px;
	color: #fff;
}
ul.token-input-focused {
	border-radius: 4px 4px 0px 0px;
}
li.token-input-token {
	overflow: hidden;
	height: auto !important;
	height: 1%;
	margin: 3px;
	padding: 3px 5px;
	background-color: #BDBDBD;
	color: #000;
	cursor: default;
	display: block;
	border-radius: 4px;
}
li.token-input-token p {
	float: left;
	padding: 0;
	margin: 0;
}
li.token-input-token span {
	float: right;
	color: #000;
	cursor: pointer;
}
li.token-input-selected-token {
	background-color: #ffd080;
	color: #fff;
}
li.token-input-selected-token span {
	color: #fff;
}
div.token-input-dropdown {
	position: absolute;
	width: 200px;
	background-color: #424242;
	overflow: hidden;
	border: 1px solid #616161;
	border-top-color: rgb(97, 97, 97);
	border-top-style: solid;
	border-top-width: 1px;
	border-top: none;
	cursor: default;
	font-size: 0.9em;
	font-family: Tahoma, Helvetica, sans-serif;
	z-index: 1 !important;
	border-radius: 0px 0px 4px 4px;
}
div.token-input-dropdown p {
	margin: 0;
	padding: 5px;
	color: #fff !important;
	background-color: #424242 !important;
}
div.token-input-dropdown ul {
	margin: 0;
	padding: 0;
}
div.token-input-dropdown ul li {
	background-color: #424242;
	padding: 3px;
	list-style-type: none;
	transition: all 0.5s;
}
div.token-input-dropdown ul li.token-input-dropdown-item {
	background-color: #424242;
}
div.token-input-dropdown ul li.token-input-dropdown-item2 {
	background-color: #424242;
}
div.token-input-dropdown ul li em {
	font-style: normal;
}
div.token-input-dropdown ul li.token-input-selected-dropdown-item {
	background-color: #757575;
}
/* tokeninput style end */

span.version:before {
	content: "Portal ";
}
span.version:after {
	content: " | DarkMode v1.006-b2 | Icons by FontAwesome";
}
#uplform {
	background-color: #212121 !important;
	border-radius: 4px;
	width: auto !important;
	border: 1px solid #616161;
	top: 30vh;
	left: 25vw;
	margin: unset !important;
	box-shadow: 0px 0px 10px #000;
}
form[action*="/videochat/beitretenIntern"] > button {
	background: rgba(255,255,255,0.2);
	border-radius: 15px;
	padding: 5px;
}





/* Neues Chat-Design */


.message-right {
	background-color: var(--message-student-background) !important;
	color: #fff !important;
	border: unset !important;
	padding-left: 10px;
	border-radius: 15px 0px 0px 15px;
}
.message-right.lehrer {
	background: var(--message-teacher-background) !important;
}
form[action*="action=adddirectmsg"] td.message-right {
	border-radius: 0px !important;
}
form[action*="action=addmsg"] td.message-right {
	border-radius: 15px 0px 0px 15px !important;
}
.content > table[style*="width:880px;"]:nth-child(2) > tbody > tr > td.message-right {
	border-radius: 0px;
}
.speaker-right {
	background: var(--message-student-background);
	color: #fff;
	padding-left: 10px;
	border-radius: 0px 15px 15px 0px;
}
.speaker-right.lehrer {
	background-color: var(--message-teacher-background) !important;
}
td.speaker-right.lehrer:nth-child(2) {
	border-radius: 15px 0px 0px 0px;
}
td.speaker-right.lehrer:first-of-type {
	border-radius: 15px 0px 15px 0px !important;
}
td.speaker-right.lehrer:last-of-type {
	border-radius: 0px 0px 15px 15px !important;
}
form[action*="action=addmsg"] td.speaker-right {
	border-radius: 0px 15px 15px 0px !important;
}
form[action*="action=adddirectmsg"] td.speaker-right:nth-child(2) {
	border-radius: 15px 0px 0px 0px !important;
}
form[action*="action=adddirectmsg"] td.speaker-right:nth-child(4) {
	border-radius: 0px 15px 0px 0px !important;
}
.content > table[style*="width:880px;"] > tbody > tr > td.speaker-right:nth-child(2) {
	border-radius: 15px 0px 0px 15px;
}
.content > table[style*="width:880px;"] > tbody > tr > td.speaker-right:nth-child(4) {
	border-radius: 0px 15px 15px 0px;
}
form[action*="action=adddirectmsg"] tbody[class*="msgbody"] > tr:nth-child(2) > td.speaker-right {
	border-radius: 0px 0px 15px 15px !important;
}
.triangle-right {
	border-left: 20px solid var(--message-student-background);
	margin-top: 15px;
}
.triangle-right.lehrer {
	border-left: 20px solid var(--message-teacher-background) !important;
}
.speaker-left {
	background: var(--message-self-background) !important;
	color: #000;
	padding-left: 10px;
}
td.speaker-left:nth-child(2) {
	border-radius: 15px 0px 0px 0px;
}
td.speaker-left:nth-child(4) {
	border-radius: 0px 15px 0px 0px !important;
}
td.speaker-left:last-of-type {
	border-radius: 0px 0px 15px 15px !important;
}
[name="msgform"] > .content > table > tbody > tr > td.speaker-left {
	border-radius: 15px 0px 0px 15px;
}
.message-left {
	background: var(--message-self-background) !important;
	border: unset;
	color: #000;
	border-radius: 0px 15px 15px 0px;
}
form[action*="action=adddirectmsg"] td.message-left {
	border-radius: 0px;
}
.triangle-left {
	border-right: 20px solid var(--message-self-background) !important;
	margin-top: 15px;
}
.triangle-new {
	visibility: hidden;
}
.speaker-new {
	vertical-align: middle;
	text-align: center;
	background-color: #757575;
	font-size: 0px;
	color: #fff;
	padding: 4px;
}
.speaker-new:nth-child(2) {
	border-radius: 15px 0px 0px 15px;
}
td.speaker-new:nth-child(2) > a {
	background-image: url(https://i.ibb.co/fCfrh9b/send.png);
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: center;
	display: block;
	transition: transform ease 0.5s, filter ease 0.5s;
}
td.speaker-new:nth-child(2) > a:hover {
	transform: scale(1.5);
	filter: brightness(0.7);
}
td.speaker-new:nth-child(2) > a > img {
	visibility: hidden;
}
.speaker-new:nth-child(4) {
	border-radius: 0px 15px 15px 0px;
}
td.speaker-new:nth-child(4) > a {
	background-image: url(https://i.ibb.co/r7cz39y/upload.png);
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: center;
	display: block;
	transition: transform ease 0.5s, filter ease 0.5s;
}
td.speaker-new:nth-child(4) > a:hover {
	transform: scaleY(1.1) scale(1.1);
	filter: brightness(0.7);
}
td.speaker-new:nth-child(4) > a > img {
	visibility: hidden;
}
.message-new {
	vertical-align: top;
	background-color: #757575;
	font-size: 16px;
	padding: 0px;
	border: 1px solid #757575;
}
img[src="edu/icn/reddotok.png"] {
	margin-top: 5px;
}
[name="msgtext"] {
	background: #757575 !important;
	color: #fff !important;
	border-radius: 0px;
	height: 67px !important;
	border: unset !important;
	outline: none !important;
}
#charCounter {
	color: #fff !important;
}
a[href*="chat.php?action=direkt&id="] {
	background-image: url(https://i.ibb.co/cv9zb4w/reply.png);
	background-size: contain;
	background-repeat: no-repeat;
color: #000;
}
a[href*="chat.php?action=direkt&id="] > img {
	visibility: hidden;
}
a[onclick^="rmmsg("][onclick*="direkt"] {
	background-image: url(https://i.ibb.co/jZmGHQX/del-message.png);
	background-size: contain;
	background-repeat: no-repeat;
color: #000;
}
a[onclick^="rmmsg("][onclick*="direkt"] > img {
	visibility: hidden;
}
#searchform {
	background: transparent !important;
	height: auto !important;
	width: auto !important;
	left: 550px;
	margin: auto !important;
	top: 20px;
	z-index: 0 !important;
}
input[name="searchtext"] {
	color: #999 !important;
}
input[name="searchtext"]:focus {
	color: #fff !important;
	outline: none;
}
/* Ende Chat-Design */


/* Umfragen-Design */

.actsel {
	background: #00C853;
	color: #000;
	font-weight: bold;
	border-radius: 4px;
}
.tosel {
	background: rgba(255,255,255,0.16);
	border-radius: 4px;
	color: #fff;
}
.que {
	width: auto;
	padding: 10px;
	background: #424242;
	border-radius: 4px;
}
.f5 div {
	border-radius: 0px 15px 15px 0px;
}
.f5 td:nth-child(2) {
	border-left: 1px solid #fff;
	padding-left: 0px;
	margin-left: 4px;
	display: block;
}
.f5 tr:nth-child(1) div {
	background: #00C853 !important;
}
.f5 tr:nth-child(2) div {
	background: #7CB342 !important;
}
.f5 tr:nth-child(3) div {
	background: #FFD600 !important;
}
.f5 tr:nth-child(4) div {
	background: #FF8F00 !important;
}
.f5 tr:nth-child(5) div {
	background: #D32F2F !important;
}

/* Umfragen-Design Ende */


/* Login-Design */

.loginbox {
	width: 300px !important;
	margin-left: 200px !important;
	background: none !important;
}
.loginbox * {
	color: #fff;
	background: none !important;
}
.loginbox input {
	border: none !important;
	outline: none !important;
	width: 80%;
	margin; 0px 10px;
}
.loginbox img {
	float: right;
}
#username, #password {
	width: 75%;
	margin: 8px 0px;
	padding: 8px 8px 8px 35px;
	border-bottom: 1px solid var(--primary) !important;
	border-radius: 0px;
	color: #aaa !important;
	transition: all 0.5s;
}
#username:focus, #password:focus {
	color: #fff !important;
}
#username {
background: url(https://i.ibb.co/BfwNM8m/user-solid.png) 5px center no-repeat !important;
background-size: 18px !important;
}
#password {
background: url(https://i.ibb.co/3fGLLQJ/lock-solid.png) 5px center no-repeat !important;
background-size: 18px !important;
}
#imgKennwort {
	filter: brightness(2);
margin-top: 16px;
}
#bttSenden, #bttDirect {
	width: 40%;
	border: 2px soild var(--primary));
	padding: 5px;
	cursor: pointer;
	margin: 12px 12px 0px 25%;
	border-radius: 4px;
}
.loginbox label[for="username"] {
    display: none;
}
.loginbox label[for="password"] {
    display: none;
}
.loginbox br:nth-child(1) {
    display: none;
}
.loginbox br:nth-child(3) {
    display: none;
}
.loginbox br:nth-child(4) {
    display: none;
}

/* Login-Design Ende */


#printdiv {
	display: none !important;
}
a[onclick*="subm(\"dwnl\","] {
	transition: all 0.5s;
}
a[onclick*="subm(\"dwnl\","]:hover {
	color: #aaa;
}
